{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@scss": "./src/assets/scss"
        },
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".scss", ".css"]
      }
    ]
  ]
}
